header {
    display: flex;
    background-color: #cedada;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 5vh;
    font-size: medium;
}
